bktest/src/main/mule/bktest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="91837456-0518-4506-843f-ea1e59c7a024" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="bktestFlow" doc:id="14d50837-ca56-45b7-bcb9-b93e37bc0df1" >
		<http:listener doc:name="Listener" doc:id="a501b349-6e8b-4e72-87cf-008371d09c92" config-ref="HTTP_Listener_config" path="/bk"/>
		<set-payload value="This is my first Mule test in this pc" doc:name="Set Payload" doc:id="929388d3-b907-403e-897e-d22e5f385c04" />
		<logger level="INFO" doc:name="Logger" doc:id="e48f3b2d-8244-4ce0-82db-d3eb0c567cc1" message="#[payload]"/>
	</flow>
</mule>
